.wrap-player1,
.wrap-player2 {
  position: absolute;
  height: 50%;
  width: 100%;
  pointer-events: none;
}
.wrap-player1 {
  transform: rotate(180deg);
}
.wrap-player1 .player {
  color: black;
  background-color: rgba(255, 255, 255, .3);
}
.wrap-player1 .sombra {
  background-color: rgba(255, 255, 255, .5);
}
.wrap-player2 {
  bottom: 0;
}
.player, .sombra{
  cursor: pointer;
}
.player:focus {
  outline: none;
}
.player {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 40vw;
  height: 40vw;
  border-radius: 50% 0%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition: transform 50ms ease-out;
  color: #FFF;
  font-weight: bold;
  z-index: 1;
  pointer-events: all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.player:active {
  transform: translate(-50%, -46.4%);
  transition: transform 50ms ease-in;
}
.player span {
  display: block;
  pointer-events: none
}
.player:active span {
  animation: pump 50ms linear infinite;
}
.sombra {
  width: 40vw;
  height: 40vw;
  border-radius: 50% 0%;
  background-color: rgba(0, 0 ,0,.5);
  position: absolute;
  left: 50%;
  top: 54.4%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.pontos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, .65);
}
.pontos div {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 255, 255, .7);
  transform-origin: left top;
  transform: translateX(-50%);
  transition: transform 80ms linear;
}

@keyframes pump {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
