.player {
  position: absolute;
  height: 50%;
  width: 100%;
  pointer-events: none;
  transition: transform 1s ease, opacity 1s ease 200ms;
}

.player--1 {
  transform: rotate(180deg);
}

.player--2 {
  bottom: 0;
}

.player-btn,
.player-shadow {
  cursor: pointer;
}

.player-btn {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 40vw;
  height: 40vw;
  border-radius: 50% 0%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition: transform 50ms ease-out, opacity 1s ease-out;
  font-weight: bold;
  z-index: 1;
  pointer-events: all;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.player-btn:focus {
  outline: none;
}

.player-btn:active,
.player-btn--bot {
  transform: translate(-50%, -46.4%);
  transition: transform 50ms ease-in;
}

.player-btn span {
  display: block;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
.player-btn--bot span,
.player:active span {
  animation: pump 50ms linear infinite;
}

@keyframes pump {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.player-shadow {
  width: 40vw;
  height: 40vw;
  border-radius: 50% 0%;
  position: absolute;
  left: 50%;
  top: 54.4%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.wrapperPlayers--player1Won .player--2 .player-btn,
.wrapperPlayers--player1Won .player--2 .player-shadow,
.wrapperPlayers--player2Won .player--1 .player-btn,
.wrapperPlayers--player2Won .player--1 .player-shadow {
  transform-origin: 0 0;
  animation: runnedOutOfPower 1s ease forwards;
}

@keyframes runnedOutOfPower {
  0% {
    transform: rotate(0deg) scale(1) translate(-50%, -50%);
  }

  100% {
    transform: rotate(360deg) scale(0) translate(-100%, -100%);
  }
}

.player--1:before,
.player--2:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: scale(0) translate(-50%, -50%);
  box-sizing: border-box;
  background-clip: border-box;
}

.wrapperPlayers--player1Won .player--2:before,
.wrapperPlayers--player2Won .player--1:before {
  transform-origin: 0 0 ;
  animation: runnedOutOfPowerGrave 2s ease;
}

@keyframes runnedOutOfPowerGrave {
  0%, 100% {
    transform: scale(0) translate(-50%, -50%);
  }

  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.player--1 .player-btn {
  color: black;
  background-color: rgba(255, 255, 255, .3);
}

.player--2 .player-btn {
  color: #FFF;
  background-color: rgba(0, 0, 0, .3);
}

.player--1 .player-shadow {
  background-color: rgba(255, 255, 255, .5);
}
.player--2 .player-shadow {
  background-color: rgba(0, 0 ,0,.5);
}

.player--1:before {
  background-color: rgba(0, 0 ,0,.5);
  border: 15px solid rgba(0, 0 ,0,.3);
}
.player--2:before {
  background-color: rgba(255, 255, 255, .3);
  border: 15px solid rgba(255, 255, 255, .5);
}

.wrapperPlayers--player1Won.wrapperPlayers--openedOptions .player--1,
.wrapperPlayers--player2Won.wrapperPlayers--openedOptions .player--2 {
  transform: scaleX(2);
  opacity: 0;
}
