.pontos {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3rem;
  width: 100%;
  background-color: rgba(0, 0, 0, .65);
  pointer-events: none;
  z-index: 3;
}

.pontos-barra {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 255, 255, .7);
  transform-origin: left top;
  transform: translateX(-50%);
  transition: transform 80ms linear;
}

.pontos-barra--left,
.pontos-barra--right {
  transform: translateX(0);
  width: 50%;
  font-size: 1.5rem;
  height: 100%;
  text-align: center;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: all;
  cursor: pointer;
}

.pontos-barra--right {
  position: absolute;
  right: 0;
}

.pontos-texto {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  transform: scale(0);
  transition: transform .3s ease 1.8s;
  color: transparent;
}

.wrapperPlayers--player1Won .pontos .pontos-texto,
.wrapperPlayers--player2Won .pontos .pontos-texto {
  text-shadow: 0 0 2px rgba(0,0,0, .25), 0 0 3px rgba(255,255,255, .25);
  transform: scale(1);
}
