* {
  margin: 0;
  padding: 0;
  border: none;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial;
  background: white;
  padding: 1em 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}
